.doboz {
    display: flex;
    justify-content: center;
}

table {
    border:5px solid black;
    text-align: center;
}

td { 
    border: 2px solid black;
    height:50px;
    width:100px;
}

#piros {
    background-color: red;
}

#zöld {
    background-color: green;
}
#sarga {
    background-color: yellow;
}
#kék {
    background-color: blue;
}


h1 {
    text-align: center;
}