.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
td,th {
    width: 5rem;
    border: 1px solid black;
    padding: 10px;
}
#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

p{
    letter-spacing: 5px;
    font-size: 35px;
    transform: rotate(+90deg);
}