table, tr, td, th {
    border: 1px solid black;
    padding: 10px;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}
 
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green {
    background-color: green;
}

.pihen {
    transform: rotate(90deg);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}